{{!-- Parcial reutilizable para los distintos botones que usaremos en la aplicación --}}
{{!-- Utilizamos un parámetro que nos permite validar el uso del botón según el contexto --}}
{{#if wrapWithForm}}
  <form action="{{action}}" method="POST">
    <button type="submit" class="btn {{class}}">{{text}}</button>
  </form>
{{else}}
  {{#if href}}
    <button class="btn {{class}}"><a href="{{href}}">{{text}}</a></button>
  {{else}}
    <button type="submit" class="btn {{class}}">{{text}}</button>
  {{/if}}
{{/if}} 