{{!-- Formulario reutilizable para agregar/editar contactos --}}
<section class="form-container">
  <h2>{{formTitle}}</h2>
  
  <form action="{{action}}" method="POST">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" value="{{contact.name}}" required>
    </div>

    <div class="form-group">
      <label for="phone">Número Telefónico:</label>
      <input type="text" id="phone" name="phone" value="{{contact.phone}}" required>
    </div>

    <div class="form-group">
      <label for="email">Correo Electrónico:</label>
      <input type="email" id="email" name="email" value="{{contact.email}}" required>
    </div>

    {{>button
      wrapWithForm = false
      text = buttonText
      class = "send-btn"
    }}
  </form>
</section>
